<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444099624319-a84a8tamh3ppa35b7nmb68kgpaq7mu2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444099624319-a84a8tamh3ppa35b7nmb68kgpaq7mu2g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444099624319-thqc2p12i35l7ka87jnrvqbnvhgo4bu2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2bX3sSvkZj6pa6r1wxah2AndRQiGw948</string>
	<key>GCM_SENDER_ID</key>
	<string>444099624319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tebiyancode</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-4d952</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-4d952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444099624319:ios:327fe5d0e1ac6ef5f46e4a</string>
</dict>
</plist>